spring:
  datasource:
    url: jdbc:mysql://localhost:3306/advanced_gym
    username: root
    password: Baloncesto19.
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 8080